@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: black;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation-list,
.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  border: none;
  background-color: transparent;
}

.tel-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  border: none;
  background-color: transparent;
}

.slide-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  text-align: left;
}

.slide-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  text-align: left;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  border: none;
  background-color: transparent;
  text-align: center;
}

.slide-point-list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.point-button {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
}

.no-active-point {
  opacity: 0.3;
}

.social-list {
  list-style-type: none;
}

.button-telegram {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fcfcfc;
}

.button-vk{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fcfcfc;
}

.button-yt{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fcfcfc;
}

.index-banner-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
}

.index-popular {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEAFC3;
}

.item-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto -100px;
}

.item-content {
  text-align: center;
}

.item-wrap-content {
  background-color: #ffffff;
  padding-top: 100px 20px 20px;
  border-radius: 8px;
}

.item-basket {
  appearance: none;
  background-color: #FF2F64;
  border-radius: 50%;
  background-image: url("../images/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  padding: 0;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
